.container{
    display: flex;
    align-items: flex-start;
    gap: 36px;
}

.imageContainer{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.image{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.rightSection{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.detailSection{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.title{
    font-size: 24px;
    font-weight: 600;
}

.title::after {
    content: "";
    display: block;
    margin-top: 8px;
    width: 60px;
    height: 3px;
    background: #ae9402;
  }

.subTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-top: 24px;
}

.heading{
    font-size: 18px;
    font-weight: 500;
}

.subHeading{
    font-size: 16px;
    font-weight: 400;
}


@media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: center;
      gap: 12px;
      padding: 24px 0px;
    }
    .imageContainer {
      width: 300px;
      height: 300px;
    }
  }