.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  width: 100%;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}

.title {
  font-size: 48px;
  background: linear-gradient(to bottom, #ae9402, #bbb);
  background: linear-gradient(to bottom, #ae9402, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 16px;
  font-weight: 400;
}

.downloadBtn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.download {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ae9402;
  border-radius: 5px;
  width: max-content;
  color: #ae9402;
}
.image {
  position: relative;
  width: 400px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ae9402;
  border-radius: 5px;
  width: max-content;
  color: #ae9402;
}
.image {
  position: relative;
  width: 400px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0px;
    flex-direction: column-reverse;
    gap: 48px;
    padding: 60px 0px;
  }
  .image {
    width: 250px;
    height: 250px;
  }
  .downloadBtn {
    flex-direction: column;
    gap: 16px;
  }

  .personalInfo {
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  .title {
    font-size: 36px;
    text-align: center;
  }
}
